{% extends 'base.html.twig' %}

{% block title %}Afegir pregunta{% endblock %}

{% block body %}
	<div class="card border-0 m-5">
		
		{% for message in app.flashes('success') %}
            <div class="alert fade show alert-success col-12">
                {{ message }}
            </div>
        {% endfor %}

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{ path('preguntes') }}" class="link-blue"><i class="fas fa-question mr-2"></i>Preguntes</a></li>
				<li class="breadcrumb-item active" aria-current="page">{% if pregunta is defined %}Editar pregunta{% else %}Afegir pregunta{% endif %}</li>
			</ol>
		</nav>
		
		<div class="card-header border-bottom bg-white d-flex justify-content-between p-0 mt-4">
			<h1 class="h3">{% if pregunta is defined %}EDITAR PREGUNTA{% else %}NOVA PREGUNTA{% endif %}</h1><a class="btn btn-link link-blue" href="javascript:history.back()"><i class="fas fa-arrow-left"></i> TORNAR</a>
		</div>
		<div class="card-body">
			<div class="col-12 alert alert-info">Selecciona una de les opcions de tots els desplegables i completa com a mínim els camps d'un dels idiomes per continuar.</div>
			<form method="post">
				{% if pregunta is defined %}
					<div class="col-4 p-0 my-4">
						<h2 class="h5"><i class="fas fa-hashtag fa-sm"></i> ID: {{ pregunta.id }}</h2>
					</div>
				{% endif %}
				<div class="form-row">
					<div class="col-4 form-group">
						<label for="nivell">Nivell  <span class="badge" style="font-size: 12px; color: #B4B4B4">( requerit )</span></label>
						<select name="nivell" id="nivell" class="form-control campPregunta" required>
							<option value="">-- Selecciona un nivell --</option>
							{% for nivell in nivells %}
								<option value="{{ nivell.id }}" {% if pregunta is defined and pregunta.idTema.idNivell.id == nivell.id %}selected{% endif %}>{{ nivell.nom }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-4 form-group">
						<label for="tema">Tema  <span class="badge" style="font-size: 12px; color: #B4B4B4">( requerit )</span></label>
						<select name="tema" id="tema" class="form-control campPregunta" required>
							{% if pregunta is defined %}
								{% for tema in temes %}
									<option value="{{ tema.id }}">{{ tema.nom }}</option>
								{% endfor %}
							{% else %}
								<option value="">-- Selecciona un nivell --</option>
							{% endif %}
						</select>
					</div>
					<div class="col custom-control custom-checkbox" style="padding-top: 38px; padding-left: 80px;">
						<input class="custom-control-input" type="checkbox" id="estat" name="estat" {% if pregunta is defined and pregunta.activa %}checked{% elseif pregunta is not defined %}checked{% endif %}>
        				<label class="custom-control-label" for="estat">Pregunta activa</label>
					</div>
				</div>
				<div class="form-row">
					<div class="col-4 form-group">
						<label for="dificultat">Dificultat  <span class="badge" style="font-size: 12px; color: #B4B4B4">( requerit )</span></label>
						<select name="dificultat" id="dificultat" class="form-control campPregunta" required>
							<option value="">-- Selecciona una dificultat --</option>
							{% for dificultat in dificultats %}
								<option value="{{ dificultat.id }}" {% if pregunta is defined and pregunta.idDificultat.id == dificultat.id %}selected{% endif %}>{{ dificultat.nom }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-4 form-group">
						<label for="tipus">Tipus  <span class="badge" style="font-size: 12px; color: #B4B4B4">( requerit )</span></label>
						<select name="tipus" id="tipus" class="form-control campPregunta" required>
							<option value="">-- Selecciona un tipus --</option>
							{% for t in tipus %}
								<option value="{{ t.id }}" {% if pregunta is defined and pregunta.tipus.id == t.id %}selected{% endif %}>{{ t.nom }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="accordion mt-4" id="idiomesPregunta">
					{% set idiomes = ['Cat', 'Es', 'En'] %}
					{% for idioma in idiomes %}
						{% if pregunta is defined %}
							{% if idioma == 'Cat' %}
								{% set textPregunta = pregunta.preguntaCat %}
								{% set correcta = pregunta.respostaCorrectaCat %}
								{% set incorrecta1 = pregunta.respostaIncorrecta1Cat %}
								{% set incorrecta2 = pregunta.respostaIncorrecta2Cat %}
								{% set incorrecta3 = pregunta.respostaIncorrecta3Cat %}
							{% elseif idioma == 'Es' %}
								{% set textPregunta = pregunta.preguntaEs %}
								{% set correcta = pregunta.respostaCorrectaEs %}
								{% set incorrecta1 = pregunta.respostaIncorrecta1Es %}
								{% set incorrecta2 = pregunta.respostaIncorrecta2Es %}
								{% set incorrecta3 = pregunta.respostaIncorrecta3Es %}
							{% else %}
								{% set textPregunta = pregunta.preguntaEn %}
								{% set correcta = pregunta.respostaCorrectaEn %}
								{% set incorrecta1 = pregunta.respostaIncorrecta1En %}
								{% set incorrecta2 = pregunta.respostaIncorrecta2En %}
								{% set incorrecta3 = pregunta.respostaIncorrecta3En %}
							{% endif %}
						{% endif %}
						<div class="card rounded-0 border-white">
							<div class="card-header h-auto card-blue border-0 rounded-0" id="heading{{ idioma }}" data-toggle="collapse" data-target="#collapse{{ idioma }}" aria-expanded="false" aria-controls="collapse{{ idioma }}">
								<span class="mb-0 preguntesLanguageHeader">
								  <img src="{% if idioma == 'Cat' %}{{ asset('img/cat.jpg') }}{% elseif idioma == 'Es' %}{{ asset('img/esp.gif') }}{% else %}{{ asset('img/en.png') }}{% endif %}" alt="" class="mr-2 rounded-circle language-icon">
								   {% if idioma == 'Cat' %}Català{% elseif idioma == 'Es' %}Castellà{% else %}Anglès{% endif %}
								  <span class=" float-right d-none" id="{{ idioma }}Valid"><i class="fas fa-check text-success"></i></span>
								</span>
							</div>
							<div id="collapse{{ idioma }}" class="collapse" aria-labelledby="heading{{ idioma }}" data-parent="#idiomesPregunta">
								<div class="card-body">
									<div class="form-row col-8">
										<div class="col form-group">
											
											<label for="nom">Text de la pregunta  <span class="badge" style="font-size: 12px; color: #B4B4B4">( requerit )</span></label>
											<textarea name="pregunta{{ idioma }}" rows="3" id="pregunta{{ idioma }}" class="form-control campPregunta">{% if textPregunta is defined %}{{ textPregunta }}{% endif %}</textarea>
										</div>
									</div>
									<div class="form-row col-8">
										<div class="col form-group">
											<label for="nom">Resposta correcta  <span class="badge" style="font-size: 12px; color: #B4B4B4">( requerit )</span></label>
											<textarea name="correcta{{ idioma }}" id="correcta{{ idioma }}" class="form-control campPregunta">{% if correcta is defined %}{{ correcta }}{% endif %}</textarea>
										</div>
										<div class="col form-group">
											<label for="cognoms">Resposta incorrecta 1  <span class="badge" style="font-size: 12px; color: #B4B4B4">( requerit )</span></label>
											<textarea name="incorrecta{{ idioma }}1" id="incorrecta{{ idioma }}1" class="form-control campPregunta">{% if incorrecta1 is defined %}{{ incorrecta1 }}{% endif %}</textarea>
										</div>
									</div>
									<div class="form-row col-8">
										<div class="col form-group">
											<label for="username">Resposta incorrecta 2  <span class="badge" style="font-size: 12px; color: #B4B4B4">( requerit )</span></label>
											<textarea name="incorrecta{{ idioma }}2" id="incorrecta{{ idioma }}2" class="form-control campPregunta">{% if incorrecta2 is defined %}{{ incorrecta2 }}{% endif %}</textarea>
										</div>
										<div class="col form-group">
											<label for="email">Resposta incorrecta 3 <span class="badge" style="font-size: 12px; color: #B4B4B4">( requerit )</span></label>
											<textarea name="incorrecta{{ idioma }}3" id="incorrecta{{ idioma }}3" class="form-control campPregunta">{% if incorrecta3 is defined %}{{ incorrecta3 }}{% endif %}</textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="col-12 text-center">
					<button id="addBtn" type="submit" class="btn customAddBtn mt-3" disabled>{% if pregunta is defined %}<i class="fas fa-pencil-alt mr-2"></i>Editar pregunta{% else %}<i class="fas fa-plus mr-2"></i>Afegir pregunta{% endif %}</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
{% block javascriptsBottom %}
	{{ parent() }}
	<script>
		$(document).ready(function() {
			validar();
			$('.campPregunta').on('keyup change', function() {
				validar();
			});

			$('#nivell').change(function() {
				var url = `{{ path('llistaTemes') }}`;
				$.post(url, { nivell: $('#nivell').val() })
				.done(function(response) {
					var html = `<option value=''>-- Selecciona un tema --</option>`;
					for (let tema in response) {
						html += `<option value='${response[tema]['id']}'>${response[tema]['nom']}</option>`;
					}
					$('#tema').html(html);
				});
			});
			setTimeout(function(){ $(".alert").alert('close') }, 5000);
		});

		function validar() {
			var cat = validarIdioma('Cat');
			var es = validarIdioma('Es');
			var en = validarIdioma('En');
			var tema = validarSelector('tema');
			var dificultat = validarSelector('dificultat');
			var tipus = validarSelector('tipus');

			if ((cat || es || en) && (tema && dificultat && tipus)) {
				$('#addBtn').prop('disabled', false);
			} else {
				$('#addBtn').prop('disabled', true);
			}
		}

		function validarSelector(nomSelect) {
			if ($(`#${nomSelect}`).val() != '') {
				return true;
			} else {
				return false;
			}
		}

		function validarIdioma(idioma) {
			if ($('#pregunta' + idioma).val() != '' && $('#correcta' + idioma).val() != '' && $('#incorrecta' + idioma + '1').val() != '' && $('#incorrecta' + idioma + '2').val() != '' && $('#incorrecta' + idioma + '3').val() != '') {
				$('#' + idioma + 'Valid').removeClass('d-none');
				return true;
			} else {
				$('#' + idioma + 'Valid').addClass('d-none');
				return false;
			}

		}

	</script>
{% endblock %}