{% extends 'base.html.twig' %}

{% block title %}Preguntes{% endblock %}

{% block body %}
	
	<div class="card border-0 m-5">
		<div class="card-header border-bottom bg-white d-flex justify-content-between p-0">
			<h1 class="h3">PREGUNTES</h1><a class="btn btn-link link-blue" href="javascript:history.back()"><i class="fas fa-arrow-left"></i> TORNAR</a>
		</div>
		<div class="card-body">
			<div class="col-12 p-0 text-right mb-4">
				<a href="" class="btn customAddBtn"><i class="fas fa-plus"></i> Afegir pregunta</a>
			</div>
			<div class="col-12 p-0 text-right mb-4">
				LLegenda: 
				<span class="text-blue"><i class="far fa-eye ml-3 mr-1"></i>Veure detalls</span>
				<span class="text-orange"><i class="far fa-check-square ml-3"></i> / <i class="far fa-square mr-1"></i> Activar/desactivar pregunta</span>
				<span class="text-red"><i class="fas fa-trash-alt ml-3 mr-1"></i> Eliminar</span>

			</div>
			<table class="table w-100 custom-table" id="llistatPreguntes">
				<thead class="custom-thead">
					<tr>
						<th>Id</th>
						<th>Pregunta</th>
						<th>Resposta correcta</th>
						<th>Tema</th>
						<th>Nivell</th>
						<th>Dificultat</th>
						<th>Tipus</th>
						<th>Accions</th>
					</tr>
				</thead>
				<tbody>
					{% for pregunta in preguntes %}
						<tr>
							<td>{{ pregunta.id }}</td>
							<td>{{ pregunta.preguntaCat }}</td>
							<td>{{ pregunta.respostaCorrectaCat }}</td>
							<td>{{ pregunta.idTema.nom }}</td>
							<td>{{ pregunta.idTema.idNivell.nom }}</td>
							<td>{{ pregunta.idDificultat.nom }}</td>
							<td>{{ pregunta.tipus.nom }}</td>
							<td>
								<button class="btn btn-link link-blue custom-btn-link assignarGrupBtn" data-id="{{ pregunta.id }}"><i class="far fa-eye"></i></button>
								<button class="btn btn-link link-orange custom-btn-link assignarRolBtn" data-id="{{ pregunta.id }}"><i class="far fa-check-square"></i></button>
								<button class="btn btn-link link-red custom-btn-link eliminarUsuariBtn" data-id="{{ pregunta.id }}"><i class="fas fa-trash-alt"></i></button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}

{% block javascriptsBottom %}
	{{ parent() }}
	<script>
		$(document).ready( function () {

		    llistatUsuaris = $('#llistatPreguntes').dataTable( {
	            "language": {
	                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Catalan.json"
	            },
	            "columnDefs": [
	            		{ "orderable": false, "targets": 1 }, 
	            		{ "orderable": false, "targets": 2 }, 
	            		{ "orderable": false, "targets": 3 },
	            		{ "orderable": false, "targets": 4 },
                        { "orderable": false, "targets": 5 },
                        { "orderable": false, "targets": 6 },
                        { "orderable": false, "targets": -1 }
                ],
                "order": [[0, "asc"]]
	        });
		});
	</script>
{% endblock %}