{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="padding">

<a href='{{path('nivells')}}' id='tornarANivellsBtn' class='tornarBdcmBtn nodeco'><i class="fas fa-chevron-left"></i> Tornar a nivells</a>

<h1 class="afegirTitle">Afegir Tema</h1>

<form id="afegirTema" class="afegirForm" action="" method="POST">

<!-- id	nom	-->

    {{ form_start(form) }}
        
        {{ form_row(form.nom) }}

        <input class="btn btn-info" type="submit" name="Submit" value="Afegir tema" />

    {{ form_end(form, {'render_rest': false}) }}
</div>


<script>

    $("document").ready(function() {
        $("input[type='text']").addClass("form-control");
    })

</script>
{% endblock %}