{% extends 'base.html.twig' %}

{% block title %}Afegir usuari{% endblock %}

{% block body %}
	<div class="card border-0 m-5">
		
		{% for message in app.flashes('success') %}
            <div class="alert fade show alert-success col-12">
                {{ message }}
            </div>
        {% endfor %}

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{ path('usuaris') }}" class="link-blue"><i class="fas fa-users mr-2"></i>Usuaris</a></li>
				<li class="breadcrumb-item active" aria-current="page">Afegir usuari</li>
			</ol>
		</nav>
		
		<div class="card-header border-bottom bg-white d-flex justify-content-between p-0 mt-4">
			<h1 class="h3">NOU USUARI</h1><a class="btn btn-link link-blue" href="javascript:history.back()"><i class="fas fa-arrow-left"></i> TORNAR</a>
		</div>
		<div class="card-body">
			<form action="" method="post">
				<div class="form-row col-8">
					<div class="col form-group">
						<label for="nom">Nom  <span class="badge" style="font-size: 12px; color: #B4B4B4">( requerit )</span></label>
						<input type="text" name="nom" id="nom" class="form-control userField" required>
					</div>
					<div class="col form-group">
						<label for="cognoms">Cognoms  <span class="badge" style="font-size: 12px; color: #B4B4B4">( requerit )</span></label>
						<input type="text" name="cognoms" id="cognoms" class="form-control userField" required>
					</div>
				</div>
				<div class="form-row col-8">
					<div class="col form-group">
						<label for="username" id="userNameLabel">Nom d'usuari  <span class="badge" style="font-size: 12px; color: #B4B4B4">( requerit )</span></label>
						<input type="text" name="username" id="username" class="form-control userField" required>
					</div>
					<div class="col form-group">
						<label for="email" id="emailLabel">Correu electrònic  <span class="badge" style="font-size: 12px; color: #B4B4B4">( requerit )</span></label>
						<input type="email" name="email" id="email" class="form-control userField" required>
					</div>
				</div>
				<div class="form-row col-8">
					<div class="col form-group">
						<label for="rol">Rol d'usuari</label>
						<select name="rol" id="rol" class="form-control userField">
							{% for rol in rols|keys if rol != 'ROLE_SUPER_ADMIN' %}
								<option value="{{ rol }}">
									{% if rol == 'ROLE_STUDENT' %}
										Estudiant
									{% elseif rol == 'ROLE_TEACHER' %}
										Professor
									{% elseif rol == 'ROLE_ADMIN' %}
										Administrador
									{% endif %}
								</option>
							{% endfor %}
						</select>
					</div>
					<div class="col form-group">
						<label for="codi" id="codiLabel">Codi alumne <span class="badge" style="font-size: 12px; color: #B4B4B4">( opcional )</span></label>
						<input type="number" name="codi" id="codi" class="form-control userField" pattern="[0-9]{16}">
					</div>
				</div>
				<div class="alert alert-info col-8 text-center" style="font-size: 12px">
					Al crear l'usuari, s'enviarà al correu electrònic especificat una contrassenya autogenerada per poder accedir a l'aplicació.
				</div>
				
				<div class="col-8 text-center">
					<button type="submit" class="btn customAddBtn mt-3" id="addBtn" disabled><i class="fas fa-plus mr-2"></i>Afegir usuari</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
{% block javascriptsBottom %}
	{{ parent() }}
	<script>
		$(document).ready(function() {
			$('.userField').on('keyup change', function() {
				validar();
			});	
			setTimeout(function(){ $(".alert").alert('close') }, 5000);
		});

		function validar() {
			if ($('#nom').val() != '') var valNom = true;
			if ($('#cognoms').val() != '') var valCogn = true;
			var usernameVal = false;
			var emailVal = false;
			var codiVal = false;
			validarNomDusuari();
			validarEmail();
			if ($('#codi').val() != '') {
				validarCodi();
			}

			function activarBoto() {
				if (valNom && valCogn && usernameVal && emailVal && (codiVal || $('#codi').val() == '')) {
				$('#addBtn').prop('disabled', false);
				} else {
					$('#addBtn').prop('disabled', true);
				}
			}
		

			function validarNomDusuari() {
				if ($('#username').val() != '') {
					var url = `{{ path('comprovarUsername') }}`;
					$.post(url, { username : $('#username').val() })
					.done(function(response) {
						if (response) {
							if ($('#usernameError').length == 0) {
								$('#userNameLabel').append('<span style="font-size: 12px; color: red;" id="usernameError" class="pt-1 float-right">Usuari ja existent.</span>');		
							}	
						} else {
							$('#usernameError').remove();
							usernameVal = true;
						}
						activarBoto();
					});
				} 
			}
		
			function validarEmail() {
				if ($('#email').val() != '') {
					var url = `{{ path('comprovarEmail') }}`;
					$.post(url, { email : $('#email').val() })
					.done(function(response) {
						if (response) {
							if ($('#emailError').length == 0) {
								$('#emailLabel').append('<span style="font-size: 12px; color: red;" id="emailError" class="pt-1 float-right">Correu electrònic ja existent.</span>');		
							}	
						} else {
							$('#emailError').remove();
							emailVal = true;
						}
						activarBoto()
					});
				}
			}

			function validarCodi() {
				if ($('#codi').val() != '') {
					var url = `{{ path('comprovarCodi') }}`
					$.post(url, { codi : $('#codi').val() })
					.done(function(response) {
						if (response) {
							$('#codiError').remove();
							$('#codiLabel').append('<span style="font-size: 12px; color: red;" id="codiError" class="pt-1 float-right">Codi d\'alumne ja existent.</span>');		
								
						} else {
							if (($('#codi').val().length > 0 && $('#codi').val().length < 16) || $('#codi').val().length > 16) {
								$('#codiError').remove();
								$('#codiLabel').append('<span style="font-size: 12px; color: red;" id="codiError" class="pt-1 float-right">El codi d\'alumne ha de tenir 16 xifres.</span>');	
							} else {
								$('#codiError').remove();
								codiVal = true;
							}	
						}
						activarBoto();
					});
				} 
			}
		}
		
	</script>
{% endblock %}
