<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('bootstrap4/css/bootstrap.min.css') }}"/>  
            <link rel="stylesheet" href="{{ asset('fontAwesome/css/all.css') }}">      
            <link rel="stylesheet" type="text/css" href="{{ asset('Datatables/datatables.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% endblock %}
        {% block javascriptsTop %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('bootstrap4/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/popper.js') }}"></script> 
        <script type="text/javascript" src="{{ asset('Datatables/datatables.min.js') }}"></script>     
        {% endblock %}
    </head>

<body class="container row col col-12 m-0 p-0">

    <div id="startMenu">

        <h1 class="p-3">Trivial</h1>

        <ul id="startMenuUl" class="list-group alltransitionparent3">
            <li>
            <a id="partidaBtn" class="buttonStart list-group-item" href="#">Partida</a>
            <ul id="llistatGrupsJoc">
                {% for grup in app.user.grups %}
                <li><a id='{{ grup.id }}' class="buttonStart partidaBtnGrup list-group-item" href='#'> - {{ grup.nom }}</a></li>
                {% endfor %}
            </ul>
            </li>
            <li><a id="entrenamentBtn" class="buttonStart list-group-item" href="#">Entrenament</a></li>
            <li><a id="rankingBtn" class="buttonStart list-group-item" href="#">Rànquing</a></li>
            <li><a id="settingsBtn" class="buttonStart list-group-item" href="#">Configuració</a></li>
            <li><a id="sortirElement" class="buttonStart list-group-item" href="#">Sortir</a></li>
        </ul>

        <div id="diagonalColorStart"></div>
        

    </div>

    <div id="contingutStart" class="scroll">
        {% block body %}{% endblock %}
    </div>

    <div class="backgroundRotate">
        <img src="img/bgrotate.png"/>
    </div>

    <script>

    var arrayButtons = $(".buttonStart");

    function asActive(element) {

        $.each( arrayButtons, function( key, value ) {
            $("#"+value.id).removeClass("active");
        });

        $(element).addClass("active");

    }

    var contingut = $("#contingutStart");

    $(".partidaBtnGrup").click(function() {

        var grup = this.id;
        var url = "{{ path('getPartidaPortait') }}"
        var codes;

        $.post(url, { 'grup': grup}) 
		    .done(function(response) {
                $("#contingutStart").html(response);
			});
        
        asActive(".partidaBtnGrup#" + grup);

    });

    $("#entrenamentBtn").click(function() {

        asActive("#entrenamentBtn");

    });

    </script>

</body>