{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="padding">

<a href='{{path('grups')}}' id='tornarAGrupsBtn' class='tornarBdcmBtn nodeco'><i class="fas fa-chevron-left"></i> Tornar a grups</a>

<h1 class="afegirTitle">Afegir grup</h1>

<form id="afegirgrup" class="afegirForm" action="" method="POST">

<!-- id	id_nivell_id	nom	codi	datainici	datafinal	//finalitzat	tempsresposta	//id_administrador -->

    {{ form_start(form) }}
        
        {{ form_row(form.nom) }}
        {{ form_row(form.codi) }}
        {{ form_row(form.idNivell) }}
        {{ form_row(form.datainici) }}
        {{ form_row(form.datafinal) }}
        {{ form_row(form.tempsresposta) }}
        {{ form_row(form.puntuacio_facil) }}
        {{ form_row(form.puntuacio_dificil) }}
        <input class="btn btn-info" type="submit" name="Submit" value="Afegir" />

    {{ form_end(form, {'render_rest': false}) }}
</div>

<script>

    $("document").ready(function() {
        $("input[type='text']").addClass("form-control");
        $("#afegirgrup div:nth-child(4)").css({
            "width": "50%",
            "float": "left",
        });

        $("#grup_datainici_date_year, #grup_datafinal_date_year").val(getCurrentYear());
        $("#grup_datainici_date_month, #grup_datafinal_date_month").val(getCurrentMonth());
        $("#grup_datainici_date_day, #grup_datafinal_date_day").val(getCurrentDay());
    })

</script>

{% endblock %}
