{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="m-5">

    <div class="card-header border-bottom bg-white d-flex justify-content-between p-0">
        <h1 class="h3">Llistat de grups</h1>
    </div>

    <div class="grups">

    <a href='{{path('afegirgrup')}}' class="btn btn-success float-right afegirbtn"><i class="fas fa-plus link-white mr-2"></i>Afegir grup</a>

    <div class="llegenda-taula">
    
        <div class="float-right">
            <p class="float-left mr-3">Llegenda: </p>

            <div class="link-blue float-left mr-2">

                <i class="fas fa-users"></i>
                <label>Llistat d'alumnes</label>

            </div>

            <div class="link-green float-left">

                <i class="fas fa-cog"></i>
                <label>Modificar</label>

            </div>
        </div>

    </div>

    <table class="table custom-table" id="llistatGrups">
    <thead>
        <tr>
            <th scope="col">Grup</th>
            <th scope="col">Data d'inici</th>
            <th scope="col">Data de fi</th>
            <th scope="col">Nivell</th>
            <th scope="col">Alumnes</th>
            <th scope="col">Accions</th>  
        </tr>
    </thead>
    <tbody>
    {% for grup in grups %}
        <tr>
        <td scope="col">{{ grup.nom }}</td>
        <td scope="col">{{ grup.datainici|date('d-m-Y') }}</td>
        <td scope="col">{{ grup.datafinal|date('d-m-Y') }}</td>
        <td>
        
        {% for nivell in nivells %}

                {% if nivell.id == grup.idNivell.id %}
                    {{ nivell.nom }}
                {% endif %}

                {% else %}
                    No té nivell
            {% endfor %}

        </td>
        <td scope="col">
            
            {% set countalumnes = 0 %}
            <a class="nodeco link-blue" href="{{ path('alumnesGrup', {id: grup.id}) }}"><i class="fas fa-users mr-2"></i>
            {% for alumne in alumnes %}

                {% if alumne.grup_id == grup.id %}
                
                    {% set countalumnes = countalumnes + 1 %} 
                    {{ countalumnes }}

                {% elseif countalumnes == 0 %}
                    Cap
                {% endif %}
                
            {% endfor %}
            </a>

        </td>
        <td scope="col">
            <a href="#"><i class="fas fa-cog link-green"></i></a>
        </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    </div>
</div>

{% endblock %}
{% block javascriptsBottom %}

    {{ parent() }}

    <script>
		$(document).ready( function () {

            llistatGrups = $('#llistatGrups').dataTable( {
	            "language": {
	                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Catalan.json"
	            }
	        });
        });

</script>
{% endblock %}