<html>
    <head>
        <meta charset="UTF-8">

        <title>{{title}}</title>

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('bootstrap4/css/bootstrap.min.css') }}"/>  
            <link rel="stylesheet" href="{{ asset('fontAwesome/css/all.css') }}">      
            <link rel="stylesheet" type="text/css" href="{{ asset('Datatables/datatables.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% endblock %}
        {% block javascriptsTop %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('bootstrap4/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/popper.js') }}"></script> 
        <script type="text/javascript" src="{{ asset('Datatables/datatables.min.js') }}"></script>     

        <script src="{{ asset('js/rollups/aes.js') }}"></script>
        <script src="{{ asset('js/components/aes.js') }}"></script>

        <script src="{{ asset('js/rollups/pbkdf2.js') }}"></script>
        <script src="{{ asset('js/components/pbkdf2.js') }}"></script>

        <script src="{{ asset('js/damnhx.js') }}"></script>

        {% endblock %}
    </head>

<body class="container row col col-12 m-0 p-0">

    <div id='usuariFloat' class="alltransition3">
        <div id='usuariFloatInt'>

            <div id='perfilNom'>
                <label>{{app.user.nom}}</label>
            </div>

            <div id='perfilFloat' class='alltransition3'>
                <label class="alltransition3">{{app.user.nom|slice(0, 1)}}</label>
            </div>
        </div>
    </div>

    <div id="startMenu">

        <h1 class="p-3">Trivial</h1>

        <ul id="startMenuUl" class="list-group alltransitionparent3">
            <li>
            <a id="partidaBtn" class="buttonStart list-group-item" href="#">Partida</a>
            <ul id="llistatGrupsJoc">
             <li><a id='veureGrups' class="buttonStart list-group-item" href='#'> <i class="fas fa-plus link-white mr-2"></i> Afegir-se a un grup</a></li>
                {% for grup in app.user.grups %}
                <li><a id='{{ grup.id }}' class="buttonStart partidaBtnGrup list-group-item" href='#'> - {{ grup.nom }}</a></li>
                {% endfor %}
            </ul>
            </li>
            <li><a id="entrenamentBtn" class="buttonStart list-group-item" href="#">Entrenament</a></li>
            <li><a id="rankingBtn" class="buttonStart list-group-item" href="#">Rànquing</a></li>
            <li><a id="perfilBtn" class="buttonStart list-group-item" href="{{ path('fos_user_profile_edit') }}">Perfil</a></li>
            <li><a id="sortirElement" class="buttonStart list-group-item" href="{{ path('fos_user_security_logout') }}">Sortir</a></li>
        </ul>

        <div id="diagonalColorStart"></div>
    </div>

    <div id="contingutStart" class="scroll">
        {% block body %}{% endblock %}
    </div>

    <div class="backgroundRotate">
        <img src="{{asset('img/bgrotate.png')}}"/>
    </div>

    <div id='seleccionarGrupModal' class='modal fade' tabindex='-1' role='dialog'>
            <div class='modal-dialog' role='document'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <h6 class='modal-title' id='seleccionarGrupModal'>Afegir-se a un grup</h6>
                        <button id='seleccionarGrupModalClose' type='button' class='close' data-dismiss='modal' aria-label='Close'>
                            <span aria-hidden='true'>&times;</span>
                        </button>
                    </div>
                    <div class='modal-body'>
                        <div id='seleccionarGrupModalMsg'>

                            <div class='form-group'>
                            <table class='col-12' id='seleccionarGrupsTable'>

                                <tr><th>Grups disponibles</th></tr>

                                {% for grup in grups %}

                                        {% if grup in app.user.grups %}
                                        {% else %}

                                            <tr>
                                                <td class="elementLlistaGrupsTd" scope='col' name='{{grup.nom}}' id='{{grup.id}}'><a href='#' secid='{{grup.id}}' class='elementLlistaGrups nodeco'>{{grup.nom}} | {{grup.idNivell.nom}}</a></td>
                                            </tr>

                                        {% endif %}

                                {% endfor %}
                            
                                </div>

                            </table>
    
                        </div>

                        </div>
                    </div>
                    <div class='modal-footer' id='seleccionarGrupModalBtns'>
                        <input type='submit' name='Submit' value='Tancar' class='btn btn-success' id='tancarGrupsBtn'>
                    </div>
                </div>
            </div>
    </div>

    <div id='afegirseGrupModal' class='modal fade' tabindex='-1' role='dialog'>
            <div class='modal-dialog' role='document'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <h6 class='modal-title' id='afegirseGrupModal'>Afegir-se a un grup</h6>
                        <button id='afegirseGrupModalClose' type='button' class='close' data-dismiss='modal' aria-label='Close'>
                            <span aria-hidden='true'>&times;</span>
                        </button>
                    </div>
                    <div class='modal-body'>
                        <div id='afegirseGrupModalMsg'>

                            <div class='form-group afegirseGrupForm'>

                                <h2 id='nomGrupTitle' style='color: black!important'></h2>

                                <label for='codi'>Codi del grup: </label>
                                <input id='codiGrup' type="password" name='codi' placeholder='Codi'/>
                                
                            </div>
    
                        </div>

                    </div>
                    
                    <div class='modal-footer' id='afegirseGrupModalBtns'>
                        <input type='submit' name='Submit' value='Accedir' class='btn btn-success' id='AccedirGrupBtn'>
                    </div>
                </div>
            </div>
    </div>

    <script>

    idgrupAfegir = '';
    nomGrupAfegir = '';
    credencialsGrupValids = '';
    credencialsGrupValidsBool = false;

    $('#tancarGrupsBtn').click(function() {
        $("#seleccionarGrupModal").modal("hide");
    })

    $('#veureGrups').click(function() {

        $('#seleccionarGrupModal').modal('show');

    });

    $('.elementLlistaGrupsTd').click(function() {

        idgrupAfegir = $(this).attr('id');
        nomGrupAfegir = $(this).attr('name');

        console.log(nomGrupAfegir);

        $('#seleccionarGrupModal').modal('hide');

        $("#nomGrupTitle").html(nomGrupAfegir);

        $('#afegirseGrupModal').modal('show');

    })

    $('#AccedirGrupBtn').click(function() {

        var url = "{{ path('checkCredencialsGrup') }}";
        var codi = $("#codiGrup").val();

        credencialsGrupValids = '';

        $.post(url, { 'grupid': idgrupAfegir, 'codi': codi}) 
		    .done(function(response) {
                credencialsGrupValids = response;
			});

        setTimeout(function(){ checkCredencialsGrup() }, 500);

    })

    function checkCredencialsGrup() {

        if (credencialsGrupValids == '') {
            credencialsGrupValidsBool = false;
            checkCredencialsGrup();
        } else {
            credencialsGrupValidsBool = true;
        }

        console.log(credencialsGrupValids);

        if (credencialsGrupValids == "true") {
            $('#seleccionarGrupModal').modal('hide');
            location.reload();
        } else if (credencialsGrupValids == "false") {
            alert("Credencials invàlides");
            $('#codiGrup').val('');
            $('#afegirseGrupModal').modal('hide');
            $('#seleccionarGrupModal').modal('show');
        }

        credencialsGrupValidsBool = false;

    }

    $(document).ready(function() {
        if (readCookie('ferEntreno') == "redirect") {
            $("#entrenamentBtn").click();     
        }
        delete_cookie('ferEntreno');
    });

    var arrayButtons = $(".buttonStart");

    function asActive(element) {

        $.each( arrayButtons, function( key, value ) {
            $("#"+value.id).removeClass("active");
        });

        $(element).addClass("active");

    }

    var contingut = $("#contingutStart");

    $(".partidaBtnGrup").click(function() {

        writeCookie('ferEntreno',"noredirect",1);

        var grup = this.id;
        var url = "{{ path('getPartidaPortait') }}";
        var codes;

        $.post(url, { 'grup': grup}) 
		    .done(function(response) {
                $("#contingutStart").html(response);
			});
        
        asActive(".partidaBtnGrup#" + grup);

    });

    $("#entrenamentBtn").click(function() {

        if (readCookie('ferEntreno') != "redirect") {
            writeCookie('ferEntreno',"redirect",1);
            location.reload();
        }

        delete_cookie('ferEntreno');

        asActive("#entrenamentBtn");
        clearHTML();
        var url = "{{ path('getEntrenamentPortait') }}";
        $.post(url) 
		    .done(function(response) {
                $("#contingutStart").html(response);
			});

    });

    </script>

</body>