<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Trivial</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bootstrap4/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('fontAwesome/css/all.css') }}">
    <link rel="stylesheet" href="{{ asset('css/joc.css') }}">
    <script src="{{ asset('js/jquery.js') }}"></script>    
    <script src="{{ asset('js/popper.js') }}"></script> 
    <script src="{{ asset('bootstrap4/js/bootstrap.min.js') }}"></script>
</head>
<body>
	<div class="jugadors float-right">
		<div class="row actual m-0"><div class="ranking">1</div><div class="col jugador">Jugador 1</div></div>
		<div class="row m-0"><div class="ranking">2</div><div class="col jugador">Jugador 2</div></div>
		<div class="row m-0"><div class="ranking">3</div><div class="col jugador">Jugador 3</div></div>
		<div class="row m-0"><div class="ranking">4</div><div class="col jugador">Jugador 4</div></div>
		<div class="row m-0"><div class="ranking">5</div><div class="col jugador">Jugador 5</div></div>
	</div>
	<div class="board-wrapper">
        <img class="board-img" src="{{ asset('img/nuevooo.png') }}" alt="">
        <div class="caselles">
        <!-- BOTON CENTRAL-->
        <div class="box-start"></div>
        <!-- BARRA SUPERIOR DERECHA-->
        <div class="box1"></div>
              <div class="box1-parpadeo"></div>   
        <div class="box2"></div>
              <div class="box2-parpadeo"></div> 
        <div class="box3"></div>
              <div class="box3-parpadeo"></div> 
        <div class="box4"></div>
              <div class="box4-parpadeo"></div> 
        <div class="box5"></div>
              <div class="box5-parpadeo"></div> 
        <!-- FIN BARRA SUPERIOR DERECHA-->

       <!-- CIRCULO EXTERIOR-->

       <!-- parte superior derecha-->
        <div class="box6"></div>
              <div class="box6-parpadeo"></div> 
        <div class="box7"></div>
              <div class="box7-parpadeo"></div> 
        <div class="box8"></div>
              <div class="box8-parpadeo"></div> 
        <div class="box9"></div>
              <div class="box9-parpadeo"></div> 
        <div class="box10"></div>
              <div class="box10-parpadeo"></div> 
        <div class="box11"></div>
              <div class="box11-parpadeo"></div> 
        <div class="box12"></div>
              <div class="box12-parpadeo"></div> 
        <div class="box13"></div>
              <div class="box13-parpadeo"></div> 
      <!-- fin parte superior derecha-->

        <!--parte derecha inferior-->
        <div class="box14"></div>
              <div class="box14-parpadeo"></div> 
        <div class="box15"></div>
              <div class="box15-parpadeo"></div> 
        <div class="box16"></div>
              <div class="box16-parpadeo"></div> 
        <div class="box17"></div>
              <div class="box17-parpadeo"></div> 
        <div class="box18"></div>
              <div class="box18-parpadeo"></div>
        <div class="box19"></div>
                <div class="box19-parpadeo"></div> 
        <div class="box20"></div>
                <div class="box20-parpadeo"></div> 
             <!-- fin parte derecha inferior-->

           <!--parte izquierda inferior-->
           <div class="box21"></div>
                <div class="box21-parpadeo"></div> 
           <div class="box22"></div>
                <div class="box22-parpadeo"></div> 
           <div class="box23"></div>
                <div class="box23-parpadeo"></div> 
           <div class="box24"></div>
                <div class="box24-parpadeo"></div> 
           <div class="box25"></div>
                <div class="box25-parpadeo"></div> 
           <div class="box26"></div>
                <div class="box26-parpadeo"></div> 
           <div class="box27"></div>
                <div class="box27-parpadeo"></div> 
         <!--fin parte izquierda inferior-->

           <!-- parte izquierda superior -->
           <div class="box28"></div>
                <div class="box28-parpadeo"></div> 
           <div class="box29"></div>
                <div class="box29-parpadeo"></div> 
           <div class="box30"></div>
                <div class="box30-parpadeo"></div> 
           <div class="box31"></div>
                <div class="box31-parpadeo"></div> 
           <div class="box32"></div>
                <div class="box32-parpadeo"></div> 
           <div class="box33"></div>
                <div class="box33-parpadeo"></div> 
           <div class="box34"></div>
                <div class="box34-parpadeo"></div> 
            <!-- fin parte izquierda superior -->

           <!-- parte superior-->
           <div class="box35"></div>
                <div class="box35-parpadeo"></div> 
           <div class="box36"></div>
                <div class="box36-parpadeo"></div> 
           <div class="box37"></div>
                <div class="box37-parpadeo"></div> 
           <div class="box38"></div>
                <div class="box38-parpadeo"></div> 
           <div class="box39"></div>
                <div class="box39-parpadeo"></div> 
           <div class="box40"></div>
                <div class="box40-parpadeo"></div> 
           <!-- fin parte superior-->

         <!--FIN CIRCULO EXTERIOR--> 
         
             <!-- BARRA SUPERIOR IZQUIERDA-->
        <div class="box41"></div>
              <div class="box41-parpadeo"></div>
        <div class="box42"></div>
              <div class="box42-parpadeo"></div> 
        <div class="box43"></div>
              <div class="box43-parpadeo"></div> 
        <div class="box44"></div>
              <div class="box44-parpadeo"></div> 
        <div class="box45"></div>
              <div class="box45-parpadeo"></div> 
        <!-- FIN BARRA SUPERIOR IZQUIERDA--> 

             <!-- BARRA IZQUIERDA-->
             <div class="box46"></div>
                  <div class="box46-parpadeo"></div> 
             <div class="box47"></div>
                  <div class="box47-parpadeo"></div> 
             <div class="box48"></div>
                  <div class="box48-parpadeo"></div> 
             <div class="box49"></div>
                  <div class="box49-parpadeo"></div> 
             <div class="box50"></div>
                  <div class="box50-parpadeo"></div> 
             <!-- FIN BARRA IZQUIERDA--> 

                <!-- BARRA DERECHA-->
                <div class="box51"></div>
                        <div class="box51-parpadeo"></div>
                <div class="box52"></div>
                        <div class="box52-parpadeo"></div> 
                <div class="box53"></div>
                      <div class="box53-parpadeo"></div> 
                <div class="box54"></div>
                      <div class="box54-parpadeo"></div> 
                <div class="box55"></div>
                      <div class="box55-parpadeo"></div> 
                <!-- FIN BARRA DERECHA--> 

                 <!-- BARRA INFERIOR-->
                 <div class="box56"></div>
                        <div class="box56-parpadeo"></div> 
                 <div class="box57"></div>
                        <div class="box57-parpadeo"></div> 
                 <div class="box58"></div>
                        <div class="box58-parpadeo"></div> 
                 <div class="box59"></div>
                        <div class="box59-parpadeo"></div> 
                 <div class="box60"></div>
                        <div class="box60-parpadeo"></div> 
                 <!-- FIN BARRA INFERIOR--> 
            </div>
    </div>
<script>
	
</script>
</body>
</html>
