<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Trivial</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bootstrap4/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('fontAwesome/css/all.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/joc.css') }}">
    <script src="{{ asset('js/jquery.js') }}"></script>    
    <script src="{{ asset('js/popper.js') }}"></script> 
    <script src="{{ asset('js/damnhx.js') }}"></script>
    <script src="{{ asset('js/joctrivial.js') }}"></script>
    <script src="{{ asset('bootstrap4/js/bootstrap.min.js') }}"></script>
</head>
<body>
  <div class="left-side col-2">
    <div class="points-container pl-3 pt-4">
    	<div class="points">
    		<i class="fas fa-trophy points-ico"></i> 73923
    	</div>
      <div class="points-shadow pl-3 pt-4">
        <i class="fas fa-trophy"></i> 73923
      </div>
    </div>

   {% include 'partida/estadistiques.html.twig' %}
  </div>
      <div class="quesitos">
        <div class="groc no-quesito"></div>
        <div class="verd no-quesito"></div>
        <div class="lila no-quesito"></div>
        <div class="blau no-quesito"></div>
        <div class="vermell no-quesito"></div>
      </div>

  <div class="col-2 p-0 right-side">
  	{% include 'partida/jugadors.html.twig' %}

  	<div class="col-12 mt-4 pr-4 log-container">
  		<h6 class="text-white log-title">REGISTRE</h6>
  		<div class="log"></div>
  	</div>
  </div>

  {% include 'partida/dau.html.twig' %}

  <div class="btn-container">
    <button class="tirarDau">TIRAR</button>
  </div>
   {% include 'partida/board.html.twig' %} 

  <div class="opcions"><button><i class="fas fa-cogs"></i></button></div>
<script>
	{% include 'partida/js/joc.js' %}
</script>
</body>
</html>
