<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Trivial</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bootstrap4/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('fontAwesome/css/all.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/joc.css') }}">
    <script src="{{ asset('js/jquery.js') }}"></script>    
    <script src="{{ asset('js/popper.js') }}"></script> 
    <script src="{{ asset('js/damnhx.js') }}"></script>
    <script src="{{ asset('bootstrap4/js/bootstrap.min.js') }}"></script>
</head>
<body>
  <div class="left-side col-2">
    <div class="points-container pl-3 pt-4">
    	<div class="points">
    		<i class="fas fa-trophy points-ico"></i> <span id="points-span">0</span>
    	</div>
      <div class="points-shadow pl-3 pt-4">
        <i class="fas fa-trophy"></i> <span id="points-shadow-span">0</span>
      </div>
    </div>

   {% include 'partida/estadistiques.html.twig' %}
  </div>
      <div class="quesitos">
        <div class="groc no-quesito"></div>
        <div class="verd no-quesito"></div>
        <div class="lila no-quesito"></div>
        <div class="blau no-quesito"></div>
        <div class="vermell no-quesito"></div>
      </div>

  <div class="col-2 p-0 right-side">
  	{% include 'partida/jugadors.html.twig' %}

  	<div class="col-12 mt-4 pr-4 log-container">
  		<h6 class="text-white log-title">REGISTRE</h6>
  		<div id="log" class="log"></div>
  	</div>
  </div>

  {% include 'partida/dau.html.twig' %}

  <div id="botoDau" class="btn-container amagat">
    <button class="tirarDau">TIRAR</button>
  </div>
   {% include 'partida/board.html.twig' %} 

  <div class="opcions"><button><i class="fas fa-cogs"></i></button></div>

    <div id="modalPregunta" class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <div><h5 id="modalTitol" class="modal-title"></h5></div><div id="timer"><h5 class="modal-title"><i class="fas fa-stopwatch fa-lg mr-2"></i><div class="d-inline-block" id="time">30</div>s</h5></div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="pregunta" class="mt-3 mb-5" style="font-size: 1.2rem"></div>
                    </div>
                    <div class="row d-flex justify-content-between mb-2">
                        <div id="respostaA" style="width: 49%!important;" class="respostaOpcio alert alert-info p-0 row m-0">
                            <div class="preguntaNum col-2 p-3"></div>
                            <div id="respostaAText" class="col-10 resposta p-3" style="word-wrap: break-word;"></div>
                        </div>
                         <div id="respostaB" style="width: 49%!important;" class="respostaOpcio alert alert-info p-0 row m-0">
                            <div class="preguntaNum col-2 p-3"></div>
                            <div id="respostaBText" class="col-10 resposta p-3" style="word-wrap: break-word;"></div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div id="respostaC" style="width: 49%!important;" class="respostaOpcio alert alert-info p-0 row m-0">
                            <div class="col-2 p-3 preguntaNum"></div>
                            <div id="respostaCText" class="col-10 resposta p-3" style="word-wrap: break-word;"></div>
                        </div>
                         <div id="respostaD" style="width: 49%!important;" class="respostaOpcio alert alert-info p-0 row m-0">
                            <div class="preguntaNum col-2 p-3"></div>
                            <div id="respostaDText" class="col-10 resposta p-3" style="word-wrap: break-word;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
	{% include 'partida/js/joc.js' %}
</script>
</body>
</html>
