<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bootstrap4/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('fontAwesome/css/all.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/joc.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script src="{{ asset('js/jquery.js') }}"></script>    
        <script src="{{ asset('js/popper.js') }}"></script> 
        <script src="{{ asset('js/damnhx.js') }}"></script>
        <script src="{{ asset('bootstrap4/js/bootstrap.min.js') }}"></script>

    </head>

    {% block body %}

    <div id='usuariFloat' class="alltransition3">
        <div id='usuariFloatInt'>

            <div id='perfilNom'>
                <label>{{app.user.nom}}</label>
            </div>

            <div id='perfilFloat' class='alltransition3'>
                <label class="alltransition3">{{app.user.nom|slice(0, 1)}}</label>
            </div>
        </div>
    </div>

    <div class="backgroundRotate">
        <img src="{{asset('img/bgrotate.png')}}"/>
    </div>

        <div id='entrenamentBodyInt' class=''>

            <div id='preguntaOutDiv' class=''>
                <div id='preguntaDiv'>
                    <div id='preguntaHead'>
                        <p id='titleHead'>
                            <span>ENTRENAMENT<span id='temaFill'></span></span>
                        </p>
                    </div>

                    <div id='preguntaContingut' class="alltransition3" style="transform: visiblity 0.3s ease-in-out;">
                        <p id='preguntaTitle'>-</p>
                    

                        <div id='preguntaRespostes'>
                            <div class='row col col-12'>

                                <div class='respostaCasella col col-md-12 col-lg-6' id='primeraResposta'>
                                    <div class='respostaInt alltransition3'>
                                        <p></p>
                                    </div>
                                </div>

                                <div class='respostaCasella col col-md-12 col-lg-6' id='segonaResposta'>
                                    <div class='respostaInt alltransition3'>
                                        <p></p>
                                    </div>
                                </div>

                            </div>
                            <div class='row col col-12'>

                                <div class='respostaCasella col col-md-12 col-lg-6' id='terceraResposta'>
                                    <div class='respostaInt alltransition3'>
                                        <p></p>
                                    </div>
                                </div>

                                <div class='respostaCasella col col-md-12 col-lg-6' id='quartaResposta'>
                                    <div class='respostaInt alltransition3'>
                                        <p></p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    {% endblock %}

    <script>
        urlPujarPartida = "{{urlPujarPartida}}";
        urlFiPartida = "{{urlFiPartida}}";
    </script>

    <script src="{{ asset('js/entrenament.js') }}"></script>

    <script>

        preguntesIds = '';
        checkPreguntesBool = false;
        preguntes = '';
        id = 0;

        temesPuntuacio = [];
        temesEncerts = [];
        temesErrors = [];
        temes = '';

        temesGrup = eval('[' + readCookie('temesGrup') + ']');
        grupJSON = '';
        grupJSONBool = false;
        grupObj = '';

        $(document).ready(function() {
            getPreguntes();
        });

        temesGrup.forEach(function(grup) {
            var grupObj = new Grup(grup[2]);
            grup[2] = grupObj;
        });

        console.log(temesGrup);

        /* GET PREGUNTES ENTRENAMENT */

        urlGetPregunta = "{{getPreguntaUrl}}";
        urlGetResposta = "{{urlGetResposta}}";
        urlPujarTemes = "{{urlPujarTemes}}";
        urlGetGrupJson = "{{urlGetGrupJson}}";
        
        function getPreguntes() {

            temes = eval('[' + readCookie('temes') + ']');
            var preguntesNum = readCookie('preguntesNum');

            temes.forEach(function(tema, idx) {
                temesPuntuacio[idx] = 0;
                temesEncerts[idx] = 0;
                temesErrors[idx] = 0;
            });

            console.log(temes);

            var url = "{{getPreguntesUrl}}";

            preguntesIds = '';

            $.post(url, { 'temes': temes, 'preguntesNum': preguntesNum }) 
                .done(function(response) {
                    preguntesIds = eval('[' + response + ']');
            });

            setTimeout(function(){ checkPreguntes() }, 500);

        }

        function checkPreguntes() {

            if (preguntesIds == '') {
                checkPreguntesBool = false;
                checkPreguntes();
            } else {
                checkPreguntesBool = true;
            }

            if (checkPreguntesBool) {

                preguntes = {

                    get ids() {
                        return [eval(preguntesIds)];
                    },

                }

                console.log(preguntes.ids);

                pujarPartida();

                QuestionLoop(0);
            }

        }

        /* GET PREGUNTES ENTRENAMENT END */

    </script>

</html>
